
body
{
  color: rgb(6, 170, 0);
  background-image: url(https://i.pinimg.com/originals/e2/65/93/e26593ef61ac878d9070316dea52142c.jpg);
  font-size: medium;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 345px;
  height: 258px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}


.capture_image
{
  font-size: 25px;
  font-weight: bolder;
}